.app-list {
    margin-top: 30px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    color: #fff;
}

.app-list-empty {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    min-height: 100px;
    border-radius: 5px;
}

@media (width <= 760px) {
    .app-list {
        margin-top: 16px;
    }

    .app-list-empty {
        margin-top: 16px;
    }
}