.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    color: #fff;
}

.add-form {
    margin-top: 20px;
    column-gap: 25px;
}

.add-form-input-wrapper {
    width: 100%;
}

.add-form input {
    width: 100%;
}

.app-add-form-error {
    color: rgba(255, 0, 0, 40);
}

@media (width <= 768px) {
    .app-add-form {
        margin-top: 16px;
    }

    .add-form {
        flex-direction: column;
        row-gap: 16px;
    }
}